<!DOCTYPE html>
<html>
<head>
    <meta chrset="UTF 8">
    <title>patient details</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
<script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
<script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
<script src="https://code.angularjs.org/1.6.9/angular.js"></script>
<script src="lib/bootstrap.js"></script>
<script src="lib/bootstrap.css"></script>
<h1>Patient Details page</h1>
<form ng-app="DemoApp" ng-controller="DemoController" name="myForm" action="thankyou.html" novalidate>
    <p>Name:<br>
        <input type="text" name="user" ng-model="user" required> 

        <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">

            <span ng-show="myForm.user.$error.required">Username is required</span>
        </span>
    </p>
    <p>Age:<br>
        <input type="text" name="user1" ng-model="user1" required> 
  
     </p>
     <p>Problem:<br>
        <input type="text" name="user2" ng-model="user2" required> 
 
        
     </p>
     <p>Remarks:<br>
        <input type="text" name="user3" ng-model="user3" required>
 
        
     </p>
     <p>Medicines:<br>
        <input type="text" name="user4" ng-model="user4" required> 
 
         
     </p>
    <p>
        <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid">
    </p>
</form>
<script>
    var app = angular.module("DemoApp",[]);

    app.controller("DemoController",function($scope) {

        $scope.Display = function () {
            $scope.user='Angular';
        }
    });
</script>
</body>
</html>